* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.conteudo {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  padding: 30px;
  height: 100%;
  margin-top: 10px;
  gap: 10px;
}

.slide {
  width: 1024px;
  height: 500px;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.4s;
}

.slides {
  width: 5120px;
  display: flex;
}

img {
  width: 400px;
  height: 300px;
  margin-top: 5%;
  padding: 30px;
}

#atual {
  margin-left: 0;
  transition: all 2s;
}

.btn {
  position: absolute;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 1.7em;
  margin-top: -5px;
}

.btn:hover {
  transform: scale(1.5);
}

#anterior {
  top: 50%;
  left: 10%;
}

#proximo {
  top: 50%;
  right: 10%;
}

.balls {
  position: absolute;
  width: 1024px;
  display: flex;
  justify-content: center;
  margin-top: 8vw;
}

.balls div {
  transition: all 0.5s;
  border: 1px solid #fff;
  padding: 4px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.balls div:hover {
  background-color: #fff;
}

.imgAtual {
  background-color: #fff;
  transition: all 0.5s;
}
