#rodape{
    width: 89vw;
    padding-left: 5%;
    padding-right: 5%;
    height: 45vh;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgba(68,77,82,1) 0%, rgba(55,62,66,1) 100%);
}

#redes-sociais{
    margin-left: 20%;
}

.github{
    margin: 25% 0;
}

#endereco{
    margin-left: 24%;
    width: 26vw;
}
#endereco > .texto:first-child{
    margin-bottom: 10%;
}
.destaque{
    font-weight: 800;
}